@import url('https://fonts.font.im/css?family=Roboto:300,400,500,700');

* {
    outline: none;
}

body {
    font-family: 'Roboto', 'Helvetica', 'Sans-serif';
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.7;
    color: #353535;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    font-weight: 500;
    letter-spacing: 2px;
}

h1,
h3,
h4,
h5 {
    /* 变大写 */
    text-transform: uppercase;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 2.85rem;
    letter-spacing: 7px;
    color: #fff;
    margin-bottom: 4rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

button {
    /* 所有btn颜色是蓝色 */
    cursor: pointer;
    background: #233EDE;
    color: #fff;
    padding: 1.25rem 3rem;
    font-size: 0.9rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
    margin: 0 auto;
    font-weight: 500;
    font-family: 'Roboto', 'Helvetica', 'Sans-serif';
    letter-spacing: 2px;
}

a {
    /* 所有的超链接 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    color: #7b7b7b;
    line-height: 2;
    font-size: 0.95rem;
}

section,
footer {
    padding: 6rem 0;
    text-align: center;
}

.container {
    /* 顶部、商品内容、训练师展示部分、时间安排部分 */
    max-width: 1100px;
    /* background: chartreuse; */
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.box {
    /* 所有box内容 */
    text-align: center;
}

/* top部与背景滑块部分开始 */
#hero {
    position: relative;
    padding: 0;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    /* 设置半透明 */
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1rem 0;
    z-index: 1;
}

.top-gym-logo {
    /* logo部分 */
    margin: 0 2rem;
    border: 2px solid #fff;
    padding: 15px 10px 7px;
    text-align: center;
    letter-spacing: 2px;
}

.top-gym-logo a {
    /* logo内a部分 */
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 20px;
}

.top-gym-logo a:hover {
    text-decoration: none;
}

#header-logo-mobile {
    /* 把logo隐藏 */
    display: none;
}

header nav {
    /* nav部分 */
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}

header nav ul.flex {
    /* 覆盖上面的样式 */
    justify-content: space-around;
    align-items: center;
}

header nav ul li a {
    /* 所有li里的a */
    color: #fff;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

#search {
    /* 搜索图标 */
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    padding: 0;
    font-size: 15px;
    border: none;
    background: transparent;
    color: #fff;
}

#hanmburger-menu {
    /* 让他消失，响应式屏幕变小后显示 */
    background-color: transparent;
    border: 1px solid #fff;
    padding: 3px 5px;
    width: 30px;
    cursor: pointer;
    margin: 0 1rem;
    display: none;
}

#hanmburger-menu .strip {
    display: block;
    height: 1px;
    background-color: #fff;
    margin: 4px 0;
}

#hero-slider .hero-slider-item {
    position: relative;
    height: 895px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#hero-slider .hero-slider-item .youtube-button {
    /* 播放按钮 */
    background-color: #233EDE;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    padding: 1.2rem 1.45rem;
}

#hero-slider .hero-slider-marketing {
    /* 滑块中间内容 */
    position: absolute;
    text-align: center;
    color: #fff;
    top: 50%;
    left: 0;
    right: 0;
    margin: -100px auto 0;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

#hero-slider .slick-dots {
    /* background-color: pink; */
    bottom: 35px;
}

#hero-slider .slick-dots li button::before {
    color: #fff;
    opacity: 1;
    border-radius: 20px;
    border: 3px solid transparent;
    padding: 2px 2px 2px 3px;
}

#hero-slider .slick-dots li.slick-active button::before {
    border-color: #fff;
}

/* top部与背景滑块部分结束 */


/* 展示部分开始 */
#features .box {
    width: 31%;
}

#features .box>img {
    width: 100%;
}

#features .box .feature-info-container {
    position: relative;
}

#features .box .icon {
    position: relative;
    margin: 0 auto;
    background-color: #233EDE;
    border-radius: 45px;
    top: -35px;
    height: 88px;
    width: 88px;
    line-height: 83px;
    text-align: center;
}

#features .box .icon img {
    vertical-align: middle;
}

/* 展示部分结束 */

/* 服务部分开始 */
#services {
    background-color: #212122;
}

#services .container {
    margin-bottom: 4rem;
}

#services .box {
    width: 23.5%;
}

#services .box img {
    height: 65px;
    margin-bottom: 2rem;
}

#services .box h4 {
    color: #fff;
}

/* 服务部分结束 */

/* 训练师展示滑块部分开始 */
#trainers {
    background-image: url('./image/trainer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#trainers-slider {
    /* display: flex; */
    width: 90%;
    margin: 0 auto;
}

#trainers-slider .slick-slide {
    padding: 0 20px;
}

#trainers-slider .trainer-slider-item img {
    width: 100%;
}

#trainers-slider h4 {
    color: #fff;
    margin-top: 2.5rem;
}

#trainers-slider p {
    color: #fff;
    opacity: 0.6;
}

#trainers-slider .slick-prev {
    left: -30px;
}

#trainers-slider .slick-next {
    right: -30px;
}

#trainers-slider .slick-prev:before {
    content: "<";
    font-size: 40px;
}

#trainers-slider .slick-next:before {
    content: ">";
    font-size: 40px;
}

/* 训练师展示滑块部分结束 */

/* schedule-services部分开始 */
#schedule-services {
    text-align: left;
}

#schedule-services .flex>div {
    width: 32%;
    box-sizing: border-box;
}

#schedule-services .flex strong {
    display: block;
    color: #212122;
    font-size: 0.85rem;
    opacity: 0.6;
    letter-spacing: 4px;
}

.upcoming-classes-box {
    border: 2px solid #E5E7E3;
    padding: 4rem 2.5rem 2.5rem;
}

.upcoming-classes-box h4 {
    margin-bottom: 2rem;
}

.upcoming-classes-box table {
    width: 100%;
}

.upcoming-classes-box table tr td {
    padding: 13px 10px 13px 0;
    color: #7b7b7b;
    font-size: 0.85rem;
    /* text-align: right; */
}

.upcoming-classes-box table tr td:last-child {
    text-align: right;
    padding-right: 0;
}

.membership-cards-box {
    background-color: #233EDE;
    padding: 1.5rem;
}

.membership-cards-box .inner-container {
    background-image: url('./image/woman-exercise.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 395px;
    padding: 2.5rem 1.5rem 1.5rem;
}

.membership-cards-box h2 {
    font-size: 4.5rem;
    font-weight: 700;
    color: #233EDE;
    line-height: 1;
}

.membership-cards-box h2 span {
    font-size: 1rem;
    letter-spacing: 0;
}

.personal-trainer-box {
    background: url('./image/personal-trainer.jpg') top center no-repeat;
    padding: 4rem 3rem 3rem;
}

.personal-trainer-box h4 {
    margin-bottom: 2rem;
    color: #fff;
}

.personal-trainer-box p {
    margin-bottom: 1.5rem;
    color: #fff;
}

.personal-trainer-box button {
    width: 100%;
}

#schedule .personal-trainer-box strong {
    color: #fff;
}

/* schedule-services部分结束 */

/* footer页脚部分开始 */
footer {
    background: url('./image/footer-bg.jpg') top center no-repeat;
    background-size: cover;
    padding-bottom: 2rem;
}

.footer-container {
    max-width: 625px;
    margin: 0 auto;
}

#footer-logo {
    display: inline-block;
}

footer nav {
    margin: 2rem 0 6rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li a {
    color: #fff;
    /* 英文变大写 */
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 300;
}

footer .mailing-list {
    position: relative;
}

footer input {
    color: #fff;
    height: 78px;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    font-size: 13px;
    font-style: italic;
    border: 2px solid #fff;
    padding-left: 2rem;
}

footer button {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 1.75rem 3rem;
}

footer ul.social-icons li a {
    font-style: 1rem;
}

footer img.bicep {
    display: block;
    margin: 0 auto 2rem;
}

footer small {
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
    margin: 0 0.5rem;
}

footer small a {
    color: #fff;
    text-decoration: underline;
}

/* footer页脚部分结束 */


/* video视频开始 */
#search-container,
#video-frame {
    background: #073B4C;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    visibility: hidden;
    transition: 0.3s;
}

#video-frame {
    background: rgba(0, 0, 0, 0.8);
}

.video-frame-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    top: 20%;
}

.video-frame-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56%;
}

.video-frame-scaler iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    box-shadow: 0 0 8px rgba(0, 0，0, 0.6);

}

#search-container-hide,
#video-frame-hide {
    color: #fff;
    font-size: 1.75rem;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;

}

.search-container-input {
    width: 50%;
    height: 50%;
    margin: 100px auto;
    position: relative;
}

#search-container h3 {
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-align: center;
    margin: 100px auto;
}

.search-container-input input {
    width: 100%;
    height: 58px;
    box-sizing: border-box;
    font-size: 16px;
    padding-left: 2rem;

}

.search-container-input button {
    position: absolute;
    right: 0;
    top: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* video结束开始 */


/* 媒体查询开始 */
@media(max-width:992px) {
    h2 {
        font-size: 6rem;
    }

    header nav {
        max-width: 775px;
    }

    .top-gym-logo {
        margin: 0 1rem;
        display: none;
    }

    .upcoming-classes-box {
        padding: 2rem 1.5rem 0.5rem;
    }

    .upcoming-classes-box h4 {
        margin-bottom: 1rem;
    }

    .membership-cards-box .inner-container {
        padding: 0.5rem 1.5rem 1.5rem;
        height: 100%;
        box-sizing: border-box;
    }

    .membership-cards-box h2 {
        font-size: 3.5rem;
    }

    .personal-trainer-box {
        padding: 2rem 1.5rem 1.5rem;
    }

    .personal-trainer-box p {
        font-size: 0.85rem;
    }
}


@media (min-width: 768px) {
    header nav {
        display: block !important;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 4rem;
        margin-top: 2rem;
    }

    .flex {
        display: block;
    }

    .flex .box {
        margin: 0 auto;
        width: 100% !important;
        margin-top: 3rem;
    }

    .flex .box:first-child {
        margin-top: 0;
    }

    header {
        background: rgba(0, 0, 0, 0.85);
    }

    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
    }

    #header-logo-mobile {
        display: inline-block;
    }

    header nav {
        position: absolute;
        top: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.85);
        display: none;
    }

    header nav ul.flex {
        display: block;
    }

    header nav ul li{
        margin: 1rem 0;
    }

    header nav ul li:last-child{
        margin-bottom: 2rem;
    }

    header nav ul li a{
        font-size: 1.5rem;
    }

    #search{
        position: static;
        font-size: 1.5rem;
    }
    #hanmburger-menu{
        display: block;
        position: absolute;
        right: 2rem;
        top: 3rem;
    }


    #header-1ogo {
        display: none;
    }

    #features .box .feature-info-container {
        padding: 0 1rem;
    }

    #schedule-services .flex {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
    }


    #schedule-services .flex>div.upcoming-classes-box,
    #schedule-services .flex>div.membership-cards-box {
        width: 48%;
    }

    #schedule-services .flex>div.personal-trainer-box {
        width: 100%;
        margin-top: 3rem;
        background-size: cover;
    }

    .personal-trainer-box p {
        font-size: 0.95rem;
    }

    .membership-cards-box .inner-container {
        background-size: cover;
    }
}

@media (max-width: 600px) {
    .video-frame-container {
        top: 30%;
    }

    #schedule-services .flex>div {
        width: 100% !important;
        margin-top: 3rem;
    }

    #schedule-services .flex>div:first-child(0) {
        margin-top: 0;
    }

    .membership-cards-box .inner-container {
        min-height: 500px;
    }

    footer ul li a {
        font-size: 0.65rem;
    }

    footer .mailing-list {
        margin: 0 0.5rem;
    }

    footer button {
        padding-right: 1rem;
        padding-left: 1rem;
    }

}

@media (max-width: 500px) {
    .membership-cards-box .inner-container {
        min-height: 400px;
    }

    footer ul {
        flex-wrap: wrap;
    }

    footer nav ul li {
        width: 33%;
        margin-top: 1rem;
    }
}




    /* 媒体查询结束 */

    